#wrapper {
  margin: 2%;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation #header {
  float: left;
  overflow: visible;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: larger;
}

/*.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}*/

.container {
  width: 100%;
  height: 80%;
  /*overflow: hidden;*/
}

.following {
  float: left;
  width: 35%;
  height: 80%;
}

#followings {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /*overflow-x: scroll;*/
  font-family: 'Droid Sans', serif;
  font-size: 12;
}

#articleframe {
  float: right;
  width: 65%;
  height: 100%;
}

.rowP {
  background-color: purple
}

.rowS {
  background-color: blue
}

.icon {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0.3%;
}

.thumbnail {
  float: right;
}

.content {
  padding: 0.5%;
  height: auto;
  background-color: purple;
}

.clear { clear: both; }
